.bell {
    text-align: center;
    padding: 20px;
}

.fa-bell-o {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 100px;
    padding: 70px;
}

.shake {
    animation: shaking 0.9s;
    animation-iteration-count: 5;
}

@keyframes shaking {
    0% {
        transform: translate(2px, 2px) rotate(0deg)
    }
    50% {
        transform: translate(-1px, 2px) rotate(-2deg)
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg)
    }
    100% {
        transform: translate(1px, -2px) rotate(-2deg)
    }
}